$main: #1b1b1b;
$accent: #353535;
$text: white;

$id: #5FB641;
$passcode: #FFB605;
$notes: #FB8501;


html,
body {
    height: 100vh;
}

body {
    background-color: $main;
    color: $text;

    font-family: 'Roboto',
        sans-serif;
}

nav {
    background-color: $accent;

    .navbar-brand {
        font-weight: bolder;
    }

    a {
        text-decoration: none;
        color: $text;

        &:hover,
        &:active,
        &:visited {
            color: $text;
            background-color: $main;
            border-radius: 4px;
        }
    }
}

.masthead {
    font-weight: bolder;

    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    span {
        background-color: $accent;
        border-radius: 4px;
    }
}

#id {
    font-weight: bolder;
    color: $id;
}

#passcode {
    font-weight: bolder;
    color: $notes;
}

#notes {
    font-weight: bolder;
    color: $passcode;
}

.content {
    margin-bottom: 5px;
}

.meetings {

    .card {
        background-color: $accent;

        margin-bottom: 4px;
        margin-right: 4px;

        .card-body {
            padding: 14px;
        }

        p {
            margin-top: .5rem;
            margin-bottom: .5rem;
        }
    }
}

#add {
    .meetingId {

        input {
            border: 2px solid $id;
            background-color: $accent;
            color: $text;

            &:hover,
            &:active,
            &:focus {
                box-shadow: none;
            }
        }

        small {
            color: $id;
        }
    }

    .meetingPasscode {
        input {
            border: 2px solid $passcode;
            background-color: $accent;
            color: $text;

            &:hover,
            &:active,
            &:focus {
                box-shadow: none;
            }
        }

        small {
            color: $passcode;
        }

    }

    .meetingNotes {
        input {
            border: 2px solid $notes;
            background-color: $accent;
            color: $text;

            &:hover,
            &:active,
            &:focus {
                box-shadow: none;
            }
        }

        small {
            color: $notes;
        }
    }

    .btn {
        background-color: $accent;
        color: $text;
        border: none;

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
            background-color: $main;
        }
    }
}