html,
body {
  height: 100vh;
}

body {
  background-color: #1b1b1b;
  color: white;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #353535;
}
nav .navbar-brand {
  font-weight: bolder;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover, nav a:active, nav a:visited {
  color: white;
  background-color: #1b1b1b;
  border-radius: 4px;
}

.masthead {
  font-weight: bolder;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.masthead span {
  background-color: #353535;
  border-radius: 4px;
}

#id {
  font-weight: bolder;
  color: #5FB641;
}

#passcode {
  font-weight: bolder;
  color: #FB8501;
}

#notes {
  font-weight: bolder;
  color: #FFB605;
}

.content {
  margin-bottom: 5px;
}

.meetings .card {
  background-color: #353535;
  margin-bottom: 4px;
  margin-right: 4px;
}
.meetings .card .card-body {
  padding: 14px;
}
.meetings .card p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#add .meetingId input {
  border: 2px solid #5FB641;
  background-color: #353535;
  color: white;
}
#add .meetingId input:hover, #add .meetingId input:active, #add .meetingId input:focus {
  box-shadow: none;
}
#add .meetingId small {
  color: #5FB641;
}
#add .meetingPasscode input {
  border: 2px solid #FFB605;
  background-color: #353535;
  color: white;
}
#add .meetingPasscode input:hover, #add .meetingPasscode input:active, #add .meetingPasscode input:focus {
  box-shadow: none;
}
#add .meetingPasscode small {
  color: #FFB605;
}
#add .meetingNotes input {
  border: 2px solid #FB8501;
  background-color: #353535;
  color: white;
}
#add .meetingNotes input:hover, #add .meetingNotes input:active, #add .meetingNotes input:focus {
  box-shadow: none;
}
#add .meetingNotes small {
  color: #FB8501;
}
#add .btn {
  background-color: #353535;
  color: white;
  border: none;
}
#add .btn:hover, #add .btn:active, #add .btn:focus {
  box-shadow: none;
  background-color: #1b1b1b;
}