module Sai
  class Config
    # Your mongo instance connection uri, this must have a db and collection named `sai`
    MONGO      = "MONGO URI"
    # How long notes should be allowed to be
    NOTE_LIMIT =  256
    # The port the server will run on
    PORT       = 3000
  end
end
